page-view {
    // .content{
        
    // }
    .segment{
        // top:0px;
        background-color: white;
        position: absolute;
        width: 100%;
        z-index: 1;
        transition: 50ms;
    }
    .cover{
        height: 250px;
        width: 100%;
        object-fit: cover;
    }
    .round{
        border: solid 2px white;
        width: 70px;
        border-radius: 50%;
        height: 70px;
        margin-left: 4%;
        margin-top: 3%;        
    }
    .name{
        // text-align: center;
        font-weight: bolder;
        color: #fff;
        font-size: 15px;
        text-align: left;
    }
    ion-grid{
        // border: 2px solid red
    }
    ion-row{
        // border: 2px solid greenyellow        
    }
    ion-col{
        // border: 2px solid red;
        position: relative;
        // height: 50px;
    }
    .details{
        text-align: lebnft
    }
    .flex{
        display: flex;
        flex-wrap: wrap;
        position: relative;
    }
    .main{
        // border: 2px solid red;
        margin-top:-10px;
        background-color: #166b85;
        height: 120px;
        position: relative;
        text-transform: capitalize;
    }
    .stars{
        // border: 2px solid red;
        margin-top: -10px;
    }
    .category{
        color: white;
        font-style: italic;
        font-weight: 100;
        // position: absolute;
        // left:95px;
        // top: -10px;
    }
    
    ion-icon{
        color: rgb(223, 219, 219);
        position: relative;
        top: -19px;
    }
    .test{
        // height: 1000px;
        background: white;
    }
    .pictures{
        height: 120px;
        // border: solid 2px white;
        // border-left: solid 2px white;
    }
    .image{
        height: 100px;
    }
    .map{
        width: 100%;
        object-fit: cover;
    }
    .fullBtn{
        position: relative;
        top: 10%;
    }
    .buttons{
        position: relative;
        bottom: 10px;
    }
    .backBtn{
        color: white;
    }
    .arrow{
        position: relative;
        top: 2%;
        text-shadow: 0 0 5px black;
        font-size: 2em;
    }
    .Reviews{
        position: relative;
        top: 25px;
        right: 9%;
        width: 100vw;
        // box-shadow: 0 0 0;
    }

    .Sstars{
        font-size: 1.5em;
        position: relative;
        top: 2px;
        color: black;
    }

    .StarCard{
        background-color: #166b8500;
        position: relative;
        top: 20px;
        box-shadow: 0 0 0 
    }
    
    .Rate{
        position: relative;
        top: 15px;
        
    }
    .stars{
        color: rgb(0, 0, 0);
        font-size: 1em
    }
    .about{
        margin-top: 50px;
    }
    .info{
        font-weight: 100;
    }
   
    @media  screen and (min-width:700px){
            // .content{
        
    // }
    .segment{
        // top:0px;
        background-color: white;
        position: absolute;
        width: 100%;
        z-index: 1;
    }
    .cover{
        height: 250px;
        width: 100%;
        object-fit: cover;
    }
    .round{
        border: solid 2px white;
        width: 90px;
        border-radius: 50%;
        height: 90px;
        margin-left: 8%;
        margin-top: 3%;        
    }
    .name{
        // text-align: center;
        font-weight: bolder;
        color: #fff;
        font-size: 2.5em;
       position: relative;
       left: 4%;
    }
    .details{
        text-align: left
    }
    .flex{
        display: flex;
        position: relative;
    }
    .main{
        // border: 2px solid red;
        margin-top:-10px;
        background-color: #166b85;
        height: 170px;
        position: relative;
        text-transform: capitalize;
    }
    .category{
        color: white;
        font-style: italic;
        font-size: 2em;
        font-weight: 100;
        position: relative;
        bottom: 12%;
        left: -26%;
    }
    
    ion-icon{
        color: rgb(223, 219, 219);
        position: relative;
        top: -19px;
    }
    .test{
        // height: 1000px;
        background: white;
    }
    .pictures{
        height: 230px;
        // border: solid 2px red;
        // border-left: solid 2px white;
    }
    .image{
        height: 200px;
        width: 220px;
    }
    .map{
        width: 100%;
        object-fit: cover;
    }
    .fullBtn{
        position: relative;
        top: 10%;
    }
    .buttons{
        position: relative;
        bottom: 10px;
    }
    .backBtn{
        color: white;
    }
    .arrow{
        position: relative;
        top: 2%;
        color: black;
    }
    .Reviews{
        position: relative;
        top: 25px;
    }
    .Rate{
        position: relative;
        top: 15px;
        
    }
    .stars{
        color: rgb(119, 114, 114);
        font-size: 1em
    }
    .ratings{
        position: relative;
        bottom: 45%;
    }
   
    }
}