page-nearby-org {
    ion-navbar{
        transition: 700ms;
    }
    .btt{
        background: #242f3e;
        height: 100%;
    }
   #map_canvas{
       width: 100%;
       box-shadow: 0 0 0.1px grey;     

   }
   .cont{
    position: relative;
    height: 50%;
    background:rgb(36, 144, 177);
    box-shadow: 0 -5px 15px rgba(128, 128, 128, 0.5);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
   }
   .cat{
    position: absolute; 
    padding-left: 10px;
    padding-right: 10px;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    // border: 2px solid red;
    width: 100%;
    color: white;
   }
   .theCard{
       height: 15vh;
       position: relative;
       box-shadow: 0 2px 15px grey;     
       border-radius: 10px; 
       z-index: -1;
   }
   .NearbyOrgPage{
       width: 90%;
    //    height: 150px;
       background: white;
       border: 2px solid red;
       z-index: 1000;
   }
   .bg{
       width: 100%;
       background: rgba(0, 0, 0, 0.664);
    //    border: 2px solid green;
       position: absolute;
       top: 0;
   }
   .theMap{
       height: 50%;
       transition: 700ms;
   }
   .handle{
    background:#242f3e;
    }
    .ico{
        //    height: 2px;
        //    width: 25px;
        background:rgb(36, 144, 177);
        //    border: 2px solid grey;
        //    margin-top: 2px;
        width: 50px;
        color: white;
        height: 50px;
        border-radius: 50PX;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: -25px;
        box-shadow: 0 -5px 15px rgba(128, 128, 128, 0.5);
   }
   .theIcon{
       transition: 700ms;
   }

.slides{
    height: 200px;
    background:rgb(36, 144, 177);
}
.theImage{
    width: 100%;
    height: 150px;
    object-fit: cover;
 
 }
.card-background-page {

    ion-card {
        position: relative;
        text-align: left;
        box-shadow: 0 0 10px black;
        height: 150px;
        margin-top: -15px;
        border-radius: 7px;
      }
  
    .card-title {
      position: absolute;
      bottom: 40%;
      font-size: 12px;
      width: 100%;
      font-weight: bold;
      color: #fff;
      padding-right: 10px;
      padding-left: 10px;
      text-align: center;
    //   text-shadow: 0 0 15px black;
      -webkit-text-stroke-color:rgba(0, 0, 0, 1);
      -webkit-text-stroke-width: 0.5px;
    //   border: 2px solid red;
    }
  
    .card-subtitle {
      font-size: 1.0em;
      position: absolute;
      text-align: center;
      bottom: 15%;
      width: 100%;
      color: #fff;
      text-shadow: 0 0 15px black;
      padding-left: 10px;
      padding-right: 10px;

      -webkit-text-stroke-color:rgba(0, 0, 0, 1);
      -webkit-text-stroke-width: 0.5px;
      
    //   border: 2px solid red;
    }
  
  }
  ion-slide{
    //   box-shadow: 0 0 10px grey
  }
  .theArrow{
    //   transition: 700ms;
    //   transform: rotateX(180DEG)
  }

//   ion-slide.swiper-slide{
//       left: 25%;
//   }
//   ion-slide.slider-pager{
//       fill: red;
//       stroke: red;
//   }
//   ion-slide.slider-pager-page.active{
//       fill: red;
//   }
  .hidden{
      width: 35px;
      position: absolute;
      right: 0;
      top: -20px;
    background: red;
    opacity: 0;
    

  }
  .flex{
      display: flex;
      width: 95%;
    //   border: 2px solid red;
      position: relative;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%)
    //   opacity: 0;
  }
  .btn{
      position: absolute;
      top: -25px;
      right: -10px;
      z-index: -1;
  }
  .listView{
      position: absolute;
      top: -25px;
      left: -10px;
  }
  .statement{
      font-weight: bold;
      color: white;
      padding-left: 15px;
      padding-top: 10px;
      padding-right: 15px;
      text-align: center;
  }
  .categories{
      height: 30px;
      display: none
  }
  .small{
      height: 30px;
      font-size: 10px;
  }
  .theFooter{
      background: black;
    //   position: relative;
      bottom: 0;
      height: 0px;
  }
  .listerBtn{
      position: absolute;
      top: -38px;
      background: white;
      box-shadow: 0 0 10px black;
      transition: 1200ms;
  }
  @media screen and (min-width: 500px) {
    .statement{
        font-weight: bold;
        color: white;
        padding-left: 15px;
        padding-top: 30px;
        padding-right: 15px;
        text-align: center;
    }

  }

  .theFooter{
      
  }

  @media screen and (min-height: 700px){
    .categories{
        height: 50px;
        display: block;
        font-size: 10px;
        color: white;
        // border: 2px solid green;
    }
    .small{
        height: 40px;
        // font-size: 8px;
        // font-size: 8px;
        background: white;
        color: white;
        border: 2px grey;
        padding-top: 2px;
        box-shadow: 0 0 10px black;
    }
    // {
    //     font-size: 12px;
    // }
  }

}
