page-edit-profile {

    .content{
        background-color: whitesmoke;
    }

    .list{
        position: relative;
        top: 120px;
    }

    .item{
        border-radius: 50px;
        background-color: #166b85;
        color: white;

    ::-webkit-input-placeholder{
        color: rgb(207, 205, 205);
    }

    }

    .Check{
        position: relative;
        bottom: 45px;
        font-size: 1em;
        text-shadow: 0 0 5px black
    }
    .arrow{
        text-shadow: 0 0 5px black
    }

    .fileChooser{
        position: relative;
        top: 40px;
    }

    .round{
        width: 160px;
        height: 165px;
        border-radius: 100px;
        border: white solid 3px;
        margin: 0 auto;
        z-index: 100000000;
        // position: relative;
        // bottom: 50px;
    }

    .picture{
        width: 160px;
        height: 160px;
        border-radius: 100px;
        margin: 0 auto;
        z-index: 100000000;
        
    
    }

    #file{
        display: none
    }

    .Add{
        color: #d6ebf1;
        font-size: 3.2em;
        position: relative;
        bottom: 90px;
        left: 210px;
        text-shadow: 0 0 0 black;
    }

    .head{
        height: 170px;
        background-image: url('../../assets/imgs/Defaults/defaultCover1.jpg');
    }

    h1{
        text-align: center;
        font-weight: 100;
        color: #166b85;
    }


    @media  screen and (min-width:700px){

        .list{
            position: relative;
            top: 120px;
        }
    
        .item{
            border-radius: 50px;
            background-color: #166b85;
            color: white;
    
        ::-webkit-input-placeholder{
            color: rgb(207, 205, 205);
        }
    
        }
    
        .Check{
            position: relative;
            bottom: 65px;
            font-size: 1.7em;
        }
    
        .fileChooser{
            position: relative;
            top: 40px;
        }
    
        .round{
            width: 160px;
            height: 165px;
            border-radius: 100px;
            border: white solid 3px;
            margin: 0 auto;
            z-index: 100000000;
            position: relative;
            bottom: 50px;
        }
    
        .picture{
            width: 160px;
            height: 160px;
            border-radius: 100px;
            margin: 0 auto;
            z-index: 100000000;
            
        
        }
        #file{
            display: none
        }
    
        .Add{
            color: #d6ebf1;
            font-size: 3.5em;
            position: relative;
            bottom: 80px;
            left: 400px;
            text-shadow: 0 0 0 black;
        }

        h1{
            text-align: center;
            font-weight: 100;
            color: #166b85;
            font-size: 2.1em;
        }
    }



    @media screen and (max-width:350px){
        .list{
            position: relative;
            top: 80px;
        }
    
        .item{
            border-radius: 50px;
            background-color: #166b85;
            color: white;
    
        ::-webkit-input-placeholder{
            color: rgb(207, 205, 205);
        }
    
        }
    
        .Check{
            position: relative;
            bottom: 65px;
            font-size: 1.7em;
        }
    
        .fileChooser{
            position: relative;
            top: 40px;
        }
    
        .round{
            width: 125px;
            height: 125px;
            border-radius: 100px;
            border: white solid 2px;
            margin: 0 auto;
        }
    
        .picture{
            width: 120px;
            height: 120px;
            border-radius: 100px;
            margin: 0 auto;
        }
    
        #file{
            display: none
        }
    
        .Add{
            color: #d6ebf1;
            font-size: 3.5em;
            position: relative;
            bottom: 80px;
            left: 400px;
            text-shadow: 0 0 0 black;
        }

        h1{
            text-align: center;
            font-weight: 100;
            color: #166b85;
            font-size: 1.5em;
        }

        
    }
    

}
