page-profile {
    // transition: 1s;
    .top{
        // border: 2px solid red;
        background: #fff;
        height:250px;
        // box-shadow: 0 0px 2px rgba(128, 128, 128, 0.5);

    }
    .slant{
        width: 0;
        height: 0;
        border-right: 100vw solid #fff;
        border-top: 75px solid rgba(165, 42, 42, 0);
        bottom: 0%;
        // border-left: 100px solid green;
        border-bottom: 15px solid white;
        z-index: 1;
        position: absolute;
    }
    .coverImage{
        height: 180px;
        width: 100%;
        object-fit: cover;
    }
    .userName{
        position: absolute;
        top: 71%;
        right: 0;
        // transform: translateY(-50%);
        // border: 2px solid red;
        width: 100%;
        padding: 10px;
        text-align: right;
        color: black;
        // text-shadow: 0 0 4px black;
        z-index: 1000000000000;
        width: 60%;
        box-shadow: 0 0px 2px rgba(128, 128, 128, 0.5);
        
    }
    .para{
        color: grey;
        font-size: 10px;
    }
    .editor{
        position: absolute;
        right: 0px;
        text-shadow: 0 0 10px black;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0);

    }
    .backBTN{
        position: absolute;
        left: 0px;
        text-shadow: 0 0 10px black;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0);
    }
    .head{
        position: relative;
    }
    .DP{
        // border: 2px solid red;
        position: absolute;
        bottom: -25%;
        left: 15px;
        transform: translateY(-25%);
        height: 100px;
        width: 100px;
        border-radius: 100px;
        border: 5px solid #fff;
        object-fit: cover;
        z-index: 10000;
        box-shadow: 0 5px 15px grey
    }
    .body{
        // border: 2px solid red;
    }
    .detail{
        // height: 50px;
        box-shadow: 0 0px 2px rgba(128, 128, 128, 0.5);
        border-radius: 5px;
        padding: 10px;
    }
    .subTitles{
        color: grey;
        font-size: 10px;
    }
    .myRatings{

    }
    .orgName{
        font-weight: bolder;
    }
    .theRatingsPart{
        padding-left: 2em;
        color: grey;
        font-size: 10px;
        font-weight: bolder;
        border-bottom: 1px solid grey
    }
    .comment{
        font-size: 12px;
        font-style: italic;
    }
    .stars{
        font-size: 10px;
    }
    .theFab{
        top: -0.5%;
        left: 0;
    }
    .theFab2{
        top: -0.5%;
        right: 0;
    }
    .colorThing{
        width: 150vw;
        height: 50px;
        background: #166b85;
        opacity: 0;
        transform: translateX(-50%);
        position:s absolute;
        top: 0;
    }
    .popover{
        background: white;
        padding: 10px;
    }
    .thePopover{
        right: -50%;
        transition: 300ms;
        // opacity: 0;
    }

}
