page-home {
    .start{
        height: 20px;
        width: 110vw;
        background: red;
    }

    .theSlides{
        // height: 250px;
        background: rgba(128, 128, 128, 0.253);
    }

    .labeler{
        background: rgba(0, 0, 0, 0);
    }

}
