<ion-header no-border-bottom>
  <ion-navbar color="custom">
    <div class="top">
      <ion-item class="hidden">
        <ion-label>Filtey by</ion-label>
        <ion-select [(ngModel)]="category" (ionChange)="selectcategory()" color="custom" id="drop">
          <ion-option value="Orphanage">Orphanage</ion-option>
          <ion-option value="Disability">Disability</ion-option>
          <ion-option value="old age">Old Age Homes</ion-option>
          <ion-option value="theraphy">Theraphy</ion-option>
          <ion-option value="Psychiatric">Psychiatric centres/Hospital</ion-option>
          <ion-option value="social centre">Social Centre</ion-option>
          <ion-option value="Rehab">Rehab</ion-option>
        </ion-select>
      </ion-item>
      <div class="more">
        <ion-icon name="more"></ion-icon>
      </div>
      <ion-input maxLength="44" class="searchBar" type="text" placeholder="Search" (input)="getItems($event)"></ion-input>
      <button ion-button icon-only outline color="light" class="profile" (click)="goToProfile()">
        <ion-icon ios="ios-person" md="md-person"></ion-icon>
      </button>
    </div>
  </ion-navbar>
</ion-header>
<ion-content (click)="bodyClick($event)">

  <div class="searchResults">
    <ion-card class="listedCard" *ngFor="let item of items" (click)="viewer(item)">
      <ion-item>
        <ion-thumbnail item-start>
          <img src="../../assets/imgs/Template Images/pixel.jpg">
        </ion-thumbnail>
        <h2>{{item}}</h2>
        <p>
          <ion-icon name="star-outline"></ion-icon>
          <ion-icon name="star-outline"></ion-icon>
          <ion-icon name="star-outline"></ion-icon>
          <ion-icon name="star-outline"></ion-icon>
          <ion-icon name="star-outline"></ion-icon>
        </p>
      </ion-item>
    </ion-card>
  </div>

  <ion-fab bottom right>
    <button ion-fab mini icon-only color="btn" (click)="GoToMap()">
      <ion-icon name="map"></ion-icon>
    </button>
  </ion-fab>
  <ion-fab bottom left>
    <button ion-fab mini icon-only color="btn" (click)="GoToAddInfor()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
  <ion-item no-lines no-borders class="labeler">
    <h5>
      <ion-icon ios="ios-pin" md="md-pin"></ion-icon> Near By</h5>
  </ion-item>
  <div class="theSlides">
    <ion-slides no-borders slidesPerView="3" effect="coverflow">
      <ion-slide class="transE">
      </ion-slide>
      <ion-slide *ngFor="let i of orgArray; let in = index" (click)="more(in)">
        <ion-card no-padding class="slideCard">
          <div class="title">
            <p class="orgName">{{i.orgName}}</p>
          </div>
          <ion-card-content no-padding>
            <img id="homeImage" src="{{i.orgPicture}}" alt="">
          </ion-card-content>
        </ion-card>
      </ion-slide>
      <ion-slide class="transE">
      </ion-slide>
    </ion-slides>
  </div>
  <div class="spacer"></div>
  <ion-item no-lines class="area">
    <h5>
      <ion-icon ios="ios-briefcase" md="md-briefcase"></ion-icon> Organisations</h5>
  </ion-item>
  <div class="restOfBody">
    <div (click)="goToViewPage(a)" *ngFor="let a of items; let i = index">
        <div *ngFor="let x of categoryArr">
          <div *ngIf="x.orgName == a">
    <ion-card class="listedCard" >
      <ion-item >
        <ion-thumbnail  item-start>
          <img [src]="x.orgPicture">
        </ion-thumbnail>
        <h2>{{x.orgName}}</h2>
        <h3>{{x.orgAbout}}</h3>
        <p>
          <ion-icon name="star-outline"></ion-icon>
          <ion-icon name="star-outline"></ion-icon>
          <ion-icon name="star-outline"></ion-icon>
          <ion-icon name="star-outline"></ion-icon>
          <ion-icon name="star-outline"></ion-icon>
        </p>
      </ion-item>
    </ion-card>
  </div> 
</div>
  </div>
  </div>
</ion-content>