<!-- (click)="bodyClick($event)" -->
<ion-header class="ionHeader">
    <div class="theHead">
      <ion-title class="theTitle">
      <b>PinHome</b>
      </ion-title>
      
        <div class="top">
          <button ion-button icon-only clear class="more" (click)="showButton(textField)">
            <ion-icon name="{{state}}"></ion-icon>
          </button>
          
          <ion-input maxLength="44" class="searchBar" type="text" placeholder="Search" [(ngModel)]="textField" (input)="getItems($event)"></ion-input>
          <!-- <ion-input class="locationSearch" placeholder="Search Location"></ion-input> -->
          <!-- <ion-input color="custom" maxLength="44" class="searchBar" type="text" placeholder="Search"></ion-input> -->
          <button ion-button icon-only clear color="light" class="profile" (click)="viewPage()">
            <ion-icon ios="ios-person" md="md-person"></ion-icon>
          </button>
        <ion-card class="options">
          <div class="intro">
            <p class="statement">
              <ion-icon name="pin"></ion-icon> ON
               
            </p>
              <i class="finePrint"> PinHome uses your location to provide you with places near you.</i>
           
          </div>
          <div class="myFlexBox">
            <button class="selects" ion-button color={{custom1}} (click)="all()">Show All</button>
            <button class="selects" ion-button color={{custom2}} (click)="near()">Show Near Me</button>
            <button class="adder" ion-button outline color="custom" (click)="gotToAddOrg()" icon-only>
                <ion-icon name="add"></ion-icon>
              </button>
          </div>
        </ion-card>
        </div>
      </div>
</ion-header>

<ion-content (ionScroll)="scroll($event)">
    <ion-fab class="addFAB" bottom right>
      <button ion-fab mini icon-only color="btn" (click)="GoToMap()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-fab>


    <div class="restOfBody">
      <div *ngFor="let a of items; let i = index">
        <div *ngFor="let x of categoryArr">
          <div *ngIf="x.orgName == a">
            <ion-item (click)="goToViewPage(a)" no-padding class="listedCard" no-lines>
              <ion-thumbnail item-start large>
                <img class="image" [src]="x.orgPicture">
              </ion-thumbnail>
              <h2>{{x.orgName}}</h2>
              <p>{{x.orgAbout}}</p>
              <p>
                <ion-icon name="star-outline"></ion-icon>
                <ion-icon name="star-outline"></ion-icon>
                <ion-icon name="star-outline"></ion-icon>
                <ion-icon name="star-outline"></ion-icon>
                <ion-icon name="star-outline"></ion-icon>
              </p>
              <button ion-button icon-only color="custom" clear item-end>
                <ion-icon name="arrow-forward"></ion-icon>
              </button>
            </ion-item>
  
          </div>
        </div>
      </div>
      <!-- <div *ngIf="items === null">
      </div> -->
    </div>
  </ion-content>
  <ion-footer class="theFooter">
    <div class="listerBtn">
    <button clear color="custom" (click)="GoToMap()" ion-button block item-end icon-start>
      <ion-icon name="map"></ion-icon>
      Map View
    </button>      
    </div>

  </ion-footer>